# Docker ignore
.git/
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
bin/*.exe
bin/*.zip
storage/inputs/*
storage/outputs/*
storage/temp/*
storage/logs/*
input_sources/*
output_product/*
*.mp4
*.mkv
*.mov
*.avi
*.webm
*.lnk
data/accounts.json
data/settings.json
data/history.json
data/analytics_history.json
data/tiktok_analytics.json
data/cookies.txt
*.log
